<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="card-large">
        <h1>Add cocktail</h1>


        <%= render 'form', cocktail: @cocktail%>

        <%= link_to 'Back', cocktails_path %>
      </div>
    </div>
  </div>
</div>
