.media {
  display: flex;
  margin: 100px;
}
.media-body {
flex: 0 0 600px;
  height: 600px;
    width: 100px;
  padding-top: 50px;

}

.media-aside {
  padding-top: 50px;
  flex: 0 0 200px;
  align-self: stretch;
}
.media-section {
  margin: 40px auto;
  width: 200px;

}
#name p{
  width: 500px;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}
.media-section li{
  list-style-type: none;
}

#ingredient-amount{
 margin-top:20px;
}
